ul{
  padding-left: 1px;
}

.sidemenu{
  width: 17rem;
  padding: 10px;
  position: relative;
}

.sidemenu[colorMode='dark']{
  background-color: #171717;
}

.sidemenu[colorMode='light']{
  background-color: white;
}