ul{
  padding-left: 1px;
}

.sidemenu{
  width: 16rem;
  padding: 1rem;
  position: relative;
  min-height: 100vh;
}

.sidemenu[colorMode='dark']{
  background-color: #171717;
}

.sidemenu[colorMode='light']{
  background-color: #f0f4f9;
}

.drawer{
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.slider{
  background-color: #212121;
  position: relative;
  cursor: pointer;
}