.message_wrapper {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  padding: 1.1rem 1.5rem;
}

.message_wrapper[author='chatbot']{
  background-color: #20374b;
}

.message_wrapper[author='chatbot'][colormode='light']{
  background-color: #cfd8ff;
}

.icon {
  margin-right: 2rem;
}

.message_text {
  word-wrap: break-word;
  font-size: 16px;
  text-align:justify;
}

.file_link{
  text-decoration: none;
  color: inherit;
  text-align: justify;
  cursor: pointer;
}

.file_link:hover{
  color: aquamarine;
}