.chat_list{
  display: flex;
  height: 70%;
}

.sidebar_ul{
  width: 100%;
  list-style: none;
  line-height: 45px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  height: 100%;
  overflow-y: auto;
}

