.chatbox{
  flex: 1;
  position: relative;
  min-width: 900px;
  height: 100vh;
  background-color: #ffffff;
}

.chatbox[colormode='dark']{
  background-color: #212121;
}

.welcome_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.welcome_container[colormode='dark']{
  color: white;
}

.welcome_container img {
  height: 20rem;
}

.content_container{
  width: 100%;
  place-items: center;
  position: absolute;
  top: 30%;
}


.cards{
  display: flex;
  gap: 50px;
  padding: 20px;
  justify-content: center;
}

.card{
  height: 14rem;
  width: 14rem;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  color: #212121;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 18px;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.card[colormode='dark']{
  background-color: #1d1e22;
  color: #e4e6ec;
} 

.card:hover{
  transform: scale(1.04);
  border-radius: 10px;
  border: 2px orange solid;
}

.image{
  padding: 8px;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  align-items: center;
  display: flex;
}

.image[colormode='dark']{
  background-color: #000000;
}

.header{
  font-weight: 600;
  margin-top: 10rem;
}

.header span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brightness{
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease;
}

.brightness:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8); /* Увеличение тени при наведении */
}