.chatbox{
  flex: 1;
  position: relative;
}

.chatbox[colormode='dark']{
  background-color: #212121;
}

.welcome_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.welcome_container[colormode='dark']{
  color: white;
}

.welcome_container img {
  height: 20rem;
}

.brightness{
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease;
}

.brightness:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8); /* Увеличение тени при наведении */
}